NODE_ENV=production
PORT=5000

MONGO_URI=mongodb+srv://<user>:<password>@cluster.mongodb.net/ecombuzz

JWT_ACCESS_SECRET=<strong-random-secret-min-32-chars>
JWT_REFRESH_SECRET=<strong-random-secret-min-32-chars>
JWT_ACCESS_EXPIRES=15m
JWT_REFRESH_EXPIRES=7d

REDIS_URL=rediss://<upstash-redis-url>

CLIENT_URL=https://<your-vercel-app>.vercel.app
